.grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .grid-wrapper {
    display: none;
  }
}

.subNav-header {
  display: flex;
  width: 100%;
  gap: 24px;
  cursor: pointer;
}

.subNav-item {
  /* add link styles here */
}

.cards-wrapper {
  max-width: 800px;
  margin-block: 56px;
}

@media (max-width: 1000px) {
  .cards-wrapper {
    max-width: 100%;
  }
}

.cards-container {
  display: flex;
  gap: 24px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;

  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cards-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  border: 1px solid transparent;
  box-shadow: 0 0 4px var(--fare-blue);
  border-radius: 8px;
  scroll-snap-align: start;
  padding: 1rem;
  min-width: 220px;
  max-width: 220px;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;
}
