.grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .grid-wrapper {
    display: none;
  }
}

.subNav-header {
  display: flex;
  width: 100%;
  gap: 24px;
  cursor: pointer;
}

.cards-wrapper {
  width: 100%;
  margin-block: 24px;
}

@media (max-width: 1000px) {
  .cards-wrapper {
    max-width: 100%;
  }
}

.cards-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cards-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(227, 223, 215, 0.18);
  border-right: 2px dashed grey;
  overflow: hidden;
    background-color: rgba(86, 78, 62, 0.18);


  scroll-snap-align: start;

  padding: 1rem;
  margin: 10px;

  min-width: 220px;
  max-width: 220px;
  height: 300px;

  position: relative;

  box-sizing: border-box;
  transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-within {
    transform: scale(1.025);
    cursor: pointer;
  }

  h3 {
    font-size: 2.5rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 2px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 1;
  }

  img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(40, 30, 10, 0.18);
    opacity: 0;
    transition: opacity 0.3s cubic-brazier(0.4, 0, 0.2, 1);
    pointer-events: none;
    z-index: 2;
  }

  &:hover::after,
  &:focus-within::after {
    opacity: 1;
  }

  &::before {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.4em;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  }

  &:hover::before,
  &:focus-within::before {
    opacity: 1;
    background-color: black;
    padding: 1rem 2rem;
    text-transform: uppercase;
  }
}
