#root {
  --fare-blue: #2ecdc9;
  --fare-red: #f05d80;
  --fare-green: #90ed7d;

  width: 100%;
  height: 100%;
}

.app-wrapper {
  position: relative;
  height: 100svh;
}

.page-wrapper {
  padding: 10% 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.content-section {
  width: 60%;
  max-width: 1280px;
  min-width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .content-section {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    text-align: left;
  }
}

.sub-header {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-block: 2rem;
  font-weight: 600;
}

.button__bordered {
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  min-width: 200px;
  width: fit-content;
  margin: auto;
  padding: 0.75em 2em;

  box-shadow:
    -1px 1px 0px var(--fare-red),
    inset -1px 1px 0px var(--fare-red),
    1px -2px 0px var(--fare-blue),
    inset 1px -2px 0px var(--fare-blue);

  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.button__bordered:hover {
  border-radius: 6px;
  box-shadow:
    -1px 1px 2px var(--fare-red),
    inset -1px 1px 2px var(--fare-red),
    1px -2px 2px var(--fare-blue),
    inset 1px -2px 2px var(--fare-blue);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: hsla(0, 0%, 9.41%, 1);
  border-radius: 10px;
  padding: 32px 24px 24px 24px;
  min-width: 320px;
  width: 60%;
  max-width: 90vw;
  position: relative;
  box-shadow:
    1px 1px 5px 5px rgba(0, 0, 0, 0.062),
    inset 0px 0px 15px 1px #af99991f;
}
