#root {
  --fare-blue: #2ecdc9;
  --fare-red: #F05D80;
  --fare-green: #90ED7D;  

  width: 100%;
  height: 100%;
}

.app-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  padding: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}