.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 24px;
  /* box-shadow:
    1px 1px 5px 5px rgba(0, 0, 0, 0.062),
    inset 0px 0px 15px 1px #af99991f; */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-field {
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  border: 1px solid transparent;
}
