.paper-card {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--fare-blue);
  position: relative;
  width: 100%;
}

.paper-header {
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: 1.2;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 12px;
}

.paper-content-wrapper {
  margin: auto;
  overflow-wrap: break-word;
  padding-inline: 24px;
  text-align: justify;
  height: 60vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.paper-content-wrapper::-webkit-scrollbar {
  display: none;
}

.paper-content {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 0 24px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: sticky;
  z-index: 2;
}

.papers-modal-image {
  display: block;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  width: inherit;
  max-width: 500px;
}

.pagination-button {
  margin: 0 0.6rem;
  cursor: pointer;
  transition: opacity 0.2s;
  background: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .pagination-button {
    display: none;
  }
}
